<div class="page-header">
	<h1>Product Details</h1>
	<button mat-raised-button color="accent" routerLink="/app/products" [disabled]="deleteInProgress">
		<mat-icon>arrow_back</mat-icon>
		Back to products
	</button>
</div>

<mat-card class="view-product margin-top-3">
	<div *ngIf="loadingDataFromApi">
		<mat-spinner class="loader" diameter="40"></mat-spinner>
	</div>
	<div [hidden]="loadingDataFromApi">
		<div class="product-info">
			<div class="product-images">
				<div class="product-img-lg">
					<img [src]="product?.images.length == 0 ? 'assets/images/default_product.png' : product?.images[enlargedImageIndex].image">
				</div>
				<div class="thumbnails margin-top-2">
					<div class="product-thumbnail clickable" *ngFor="let image of product?.images; let i = index;" (click)="enlargedImageIndex = i" [ngClass]="{selected: enlargedImageIndex == i}">
						<img src="{{image.image}}">
					</div>
				</div>
			</div>
			<div class="product-details">
				<h1>{{product?.product_name}}</h1>
				<div class="margin-top-1">{{product?.category_name}}</div>
				<div class="margin-top-1 text-primary">{{product?.manufacturer}}</div>
				<div style="display: flex; align-items: center;" class="margin-top-2">
					<div class="price">
						<div [ngClass]="{strike: product?.discount > 0}">
							{{product?.price | currency:"ZAR":"symbol-narrow"}}
						</div>
						<div *ngIf="product?.discount > 0" class="margin-top-half">
							{{product?.price - (product?.price * (product?.discount / 100)) | currency:"ZAR":"symbol-narrow"}}
							(-{{product?.discount}}%)
						</div>
					</div>
					<div class="indicator" [ngClass]="{red: product?.stock == 0, green: product?.stock > lowStockLimit, yellow: (product?.stock > 0 && product?.stock <= lowStockLimit)}">
						{{product?.stock == 0 ? 'Out of stock' : product?.stock + ' in stock'}}
					</div>
				</div>
				<div class="margin-top-3 properties">
					<div class="property" *ngFor="let property of productProperties?.others">
						<div class="property-name">{{property?.property_name | uppercase}}</div>
						<div class="property-values">
							<span *ngFor="let value of property?.values">{{value}}</span>
						</div>
					</div>
					<div class="property" *ngIf="productProperties.dimensions.length > 0">
						<div class="property-name">DIMENSIONS</div>
						<div class="property-values">
							<span *ngFor="let property of productProperties.dimensions">{{property.property_name}}: {{property.value}}</span>
						</div>
					</div>
				</div>
				<div class="margin-top-3" style="font-size: 15px; font-style: italic;">
					This product was added on {{product?.entrydate | date:'full'}}
				</div>
				<div class="margin-top-3" [innerHTML]="product?.description | nl2br"></div>
				<div class="margin-top-3" style="display: grid; grid-template-columns: 1fr 1fr; gap: 3em">
					<button mat-raised-button color="primary" class="full-width" routerLink="/app/products/{{product?.id}}/edit" [disabled]="deleteInProgress">
						EDIT THIS PRODUCT
					</button>
					<button mat-raised-button color="warn" class="full-width" [disabled]="deleteInProgress" (click)="deleteProduct(product?.id, product?.product_name)">
						<span *ngIf="!deleteInProgress">DELETE THIS PRODUCT</span>
						<mat-spinner diameter="20" *ngIf="deleteInProgress"></mat-spinner>
					</button>
				</div>
			</div>
		</div>
		<div style="margin-top: 6em">
			<h1>Ratings & Reviews</h1>

			<div class="ratings-reviews">
				<div class="ratings">
					<div class="rating-stars">
						<mat-icon *ngFor="let i of makeArrayFromNumber(floor(product?.average_rating))">star</mat-icon>
						<mat-icon *ngFor="let i of makeArrayFromNumber(ceil(5 - product?.average_rating))">star_outline</mat-icon>
						<h1>{{product?.average_rating | number}}</h1>
					</div>
					<div class="margin-top-1">
						{{product?.reviews.length}} Reviews
					</div>
					<div class="margin-top-3 rating-bars">
						<div class="bar">
							<div>5 Stars</div>
							<div class="bar-bg">
								<div class="bar-value" style="width: {{getRatingsPercentage(5)}}%"></div>
							</div>
							<div>{{getRatingsPercentage(5) | number:'1.0-0'}}%</div>
						</div>
						<div class="bar">
							<div>4 Stars</div>
							<div class="bar-bg">
								<div class="bar-value" style="width: {{getRatingsPercentage(4)}}%"></div>
							</div>
							<div>{{getRatingsPercentage(4) | number:'1.0-0'}}%</div>
						</div>
						<div class="bar">
							<div>3 Stars</div>
							<div class="bar-bg">
								<div class="bar-value" style="width: {{getRatingsPercentage(3)}}%"></div>
							</div>
							<div>{{getRatingsPercentage(3) | number:'1.0-0'}}%</div>
						</div>
						<div class="bar">
							<div>2 Stars</div>
							<div class="bar-bg">
								<div class="bar-value" style="width: {{getRatingsPercentage(2)}}%"></div>
							</div>
							<div>{{getRatingsPercentage(2) | number:'1.0-0'}}%</div>
						</div>
						<div class="bar">
							<div>1 Star &nbsp;</div>
							<div class="bar-bg">
								<div class="bar-value" style="width: {{getRatingsPercentage(1)}}%"></div>
							</div>
							<div>{{getRatingsPercentage(1) | number:'1.0-0'}}%</div>
						</div>
					</div>
				</div>
				<div class="reviews">
					<div class="review" *ngFor="let review of product?.reviews">
						<div class="header">
							<h1 class="poster">{{review?.firstname}} {{review?.lastname}}</h1>
							<div class="date">{{review?.entrydate | date:'mediumDate'}}</div>
						</div>
						<div class="text margin-top-1">
							{{review?.review}}
							<div class="margin-top-1 align-right"><button mat-stroked-button color="warn" (click)="deleteReview(review?.id)">Delete</button></div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</mat-card>
