<div class="page-header">
	<h1>Order Details</h1>
	<button mat-raised-button color="accent" routerLink="/app/orders" [disabled]="deletingOrder || changingOrderStatus">
		<mat-icon>arrow_back</mat-icon>
		Back to orders
	</button>
</div>

<mat-card class="margin-top-3 view-order-info">
	<div *ngIf="loadingDataFromAPi" class="margin-top-4">
		<mat-spinner diameter="40" class="loader"></mat-spinner>
	</div>

	<div *ngIf="!loadingDataFromAPi">
		<div class="order-details">
			<mat-card class="order-info">
				<h3>Order Details</h3>
				<table>
					<tr>
						<th>Order No.</th>
						<td>{{order?.order_number}}</td>
					</tr>
					<tr>
						<th>Date</th>
						<td>{{order?.date | date:'medium'}}</td>
					</tr>
					<tr>
						<th>Payment Method</th>
						<td>{{order?.payment_method}}</td>
					</tr>
					<tr>
						<th>Order Status</th>
						<td>
							<div *ngIf="!changingOrderStatus">{{order?.status | orderStatus}}</div>
							<mat-spinner diameter="20" *ngIf="changingOrderStatus"></mat-spinner>
						</td>
					</tr>
					<tr [hidden]="changingOrderStatus || deletingOrder">
						<td colspan="2">
							<mat-form-field class="full-width">
								<mat-label>Update order status</mat-label>
								<mat-select value="{{order?.status}}" (selectionChange)="changeOrderStatus()">
									<mat-option value="0">Pending Payment</mat-option>
									<mat-option value="1">Payment Failed</mat-option>
									<mat-option value="2">Paid</mat-option>
									<mat-option value="3">Processing</mat-option>
									<mat-option value="4">Shipped</mat-option>
									<mat-option value="5">Delivered</mat-option>
									<mat-option value="6">Rejected</mat-option>
								</mat-select>
							</mat-form-field>
						</td>
					</tr>
				</table>
			</mat-card>
			<mat-card class="billing-info">
				<h3>Billing Information</h3>
				<table>
					<tr>
						<th>Billing Name</th>
						<td>{{order?.billing.firstname}} {{order?.billing.lastname}}</td>
					</tr>
					<tr>
						<th>Billing Address</th>
						<td>
							<div>{{order?.billing.address}}</div>
							<div>{{order?.billing.city}}</div>
							<div>{{order?.billing.province}}, {{order?.billing.postcode}}</div>
						</td>
					</tr>
					<tr>
						<th>Phone</th>
						<td>{{order?.billing.phone}}</td>
					</tr>
					<tr>
						<th>Email</th>
						<td>{{order?.email}}</td>
					</tr>
				</table>
			</mat-card>
			<mat-card class="shipping-info">
				<h3>Shipping Information</h3>
				<table>
					<tr>
						<th>Shipping Name</th>
						<td>{{order?.shipping.firstname}} {{order?.shipping.lastname}}</td>
					</tr>
					<tr>
						<th>Shipping Address</th>
						<td>
							<div>{{order?.shipping.address}}</div>
							<div>{{order?.shipping.city}}</div>
							<div>{{order?.shipping.province}}, {{order?.shipping.postcode}}</div>
						</td>
					</tr>
					<tr>
						<th>Phone</th>
						<td>{{order?.shipping.phone}}</td>
					</tr>
					<tr>
						<th>Shipping Mode</th>
						<td>{{order?.shipping_category}}</td>
					</tr>
				</table>
			</mat-card>
		</div>

		<div class="ordered-items margin-top-3">
			<h2>Ordered Items</h2>
			<table class="full-width items-table margin-top-2">
				<tr>
					<th>Item</th>
					<th>Quantity</th>
					<th class="align-right">Amount(R)</th>
					<th class="align-right">Total(R)</th>
				</tr>
				<tr *ngFor="let item of order?.items">
					<td>
						<div>{{item?.product_name}}</div>
						<div *ngIf="item?.options">({{item?.options}})</div>
					</td>
					<td>{{item?.quantity}}</td>
					<td class="align-right">{{item?.unit_cost | number:'1.2-2'}}</td>
					<td class="align-right">{{item?.total | number:'1.2-2'}}</td>
				</tr>
				<tr class="sub-total">
					<td>Sub Total</td>
					<td colspan="3" class="align-right">{{order?.subtotal | currency:'ZAR':'symbol-narrow'}}</td>
				</tr>
				<tr class="shipping-cost">
					<td>Shipping</td>
					<td colspan="3" class="align-right">{{order?.shipping_cost | currency:'ZAR':'symbol-narrow'}}</td>
				</tr>
				<tr class="order-total">
					<td>Order Total</td>
					<td colspan="3" class="align-right">{{order?.total | currency:'ZAR':'symbol-narrow'}}</td>
				</tr>
			</table>
		</div>

		<div class="align-center margin-top-3">
			<button mat-raised-button color="warn" (click)="deleteOrder()" [disabled]="deletingOrder || changingOrderStatus">
				<span *ngIf="!deletingOrder">DELETE THIS ORDER</span>
				<mat-spinner diameter="20" *ngIf="deletingOrder"></mat-spinner>
			</button>
		</div>
	</div>

</mat-card>
