<div class="login-container">
	<div class="brand-image">
		<img src="assets/images/logo.png">
	</div>
	<div class="auth-box">
		<h1>Administrator Sign In</h1>
		<h3 style="margin-top: 1em">Enter your username and password to continue</h3>
		<form [formGroup]="authForm" (submit)="auth()">
			<mat-form-field appearance="outline" class="full-width margin-top-1">
				<mat-label>Username</mat-label>
				<input type="email" matInput formControlName="email">
			</mat-form-field>
			<mat-form-field appearance="outline" class="full-width">
				<mat-label>Password</mat-label>
				<input matInput [type]="hidePasswordFieldText ? 'password' : 'text'" formControlName="password">
				<button type="button" mat-icon-button matSuffix (click)="hidePasswordFieldText = !hidePasswordFieldText">
					<mat-icon>{{hidePasswordFieldText ? 'visibility_off' : 'visibility'}}</mat-icon>
				</button>
			</mat-form-field>
			<div style="display: flex; justify-content: space-between; align-items: center">
				<mat-checkbox color="primary">Remember me on this device</mat-checkbox>
				<a href="#">Need Help?</a>
			</div>
			<div class="margin-top-2">
				<button type="submit" mat-raised-button color="primary" class="full-width" routerLink="/app" [disabled]="authForm.invalid || authFormBusy">
					<span *ngIf="!authFormBusy">Sign In</span>
					<mat-spinner diameter="20" *ngIf="authFormBusy"></mat-spinner>
				</button>
			</div>
		</form>
	</div>
</div>
