<div class="navbar">
	<img class="navbar-logo" src="assets/images/logo.png">
	<div class="flex-fill"></div>
	<button mat-icon-button>
		<mat-icon matBadge="5" matBadgeColor="warn">notifications</mat-icon>
	</button>
	<a class="session-user clickable">
		<img src="assets/dummies/user.jpeg">
		<span>John Doe</span>
		<mat-icon>keyboard_arrow_down</mat-icon>
	</a>
</div>

<div class="main-content">
	<div class="side-nav">
		<ul>
			<li><a routerLink="/app"><mat-icon>home</mat-icon> Home</a></li>
			<li><a routerLink="/app/product-categories"><mat-icon>category</mat-icon> Product Categories</a></li>
			<li><a routerLink="/app/products"><mat-icon>inventory</mat-icon> Products</a></li>
			<li><a routerLink="/app/orders"><mat-icon>receipt_long</mat-icon> Orders</a></li>
			<li><a routerLink="/app/customers"><mat-icon>people_alt</mat-icon> Customers</a></li>
			<li><a routerLink="/app/shipping-costs"><mat-icon>local_shipping</mat-icon> Shipping Costs</a></li>
			<li><a routerLink="/app/promotions"><mat-icon>local_offer</mat-icon> Promotions</a></li>
			<li><a routerLink="/app/administrators"><mat-icon>admin_panel_settings</mat-icon> Administrators</a></li>
			<li><a routerLink="/app/settings"><mat-icon>settings</mat-icon> Profile & Settings</a></li>
			<li><a routerLink="/logout"><mat-icon>logout</mat-icon> Sign Out</a></li>
		</ul>
	</div>
	<div class="route-content flex-fill">
		<router-outlet></router-outlet>
	</div>
</div>
