@import "src/theme";

.add-product {
	display: flex;
	padding: 4em;

	.product-images {
		margin-right: 7em;

		.product-img-lg {
			position: relative;

			img {
				width: 400px;
				max-height: 500px;
			}

			button {
				position: absolute;
				top: 1.5em;
				right: 1.5em;
			}
		}

		.thumbnails {
			display: flex;
			flex-wrap: wrap;
			align-items: center;

			.product-thumbnail {
				padding: .6em;
				box-shadow: 0 0 2px gray;
				border-radius: 5px;
				margin-right: 1em;
				margin-top: 1em;

				&.selected {
					box-shadow: 0 0 10px;
				}

				img {
					height: 55px;
					width: 55px;
				}
			}

			.add-img-btn {
				width: 78px;
				height: 78px;
				display: flex;
				justify-content: center;
				align-items: center;
				flex-direction: column;
				background: $light-gray;
				margin-top: 1em;

				mat-icon {
					font-size: 40px;
					padding-right: 1em;
					padding-bottom: 1em;
				}
			}
		}
	}

	.add-form {
		padding-top: 2em;
		.product-properties {

			.header {
				display: flex;
				justify-content: space-between;
				align-items: center;
				padding: .5em 1em;
				box-shadow: 0 0 2px gray;

				h3 {
					margin: 0;
					padding: 0;
					font-weight: 500;
				}
			}

			.add-product-property {
				box-shadow: 0 0 3px $dark-gray;
				padding: 1em;
				.add-header {

					h3 {
						margin: 0;
						font-weight: 500;
						font-size: 18px;
					}
				}
			}

			.property-table {
				width: 100%;
				border-collapse: collapse;

				th, td {
					padding: .5em 1em;
				}

				th {
					text-align: left;
					background: $tint;

					&.align-right {
						text-align: right;
					}
				}
			}
		}
	}
}
