<div class="page-header">
	<h1>{{formSaveMode == "create" ? "Add" : "Edit"}} Product Category</h1>
	<button mat-raised-button color="warn" routerLink="/app/product-categories">
		<mat-icon>close</mat-icon>
		Cancel
	</button>
</div>

<mat-card class="margin-top-3">
	<div class="add-form">
		<form [formGroup]="addCategoryForm" (submit)="save()">
			<mat-form-field appearance="outline" class="full-width">
				<mat-label>Category name</mat-label>
				<input type="text" matInput formControlName="name">
			</mat-form-field>
			<mat-form-field appearance="outline" class="full-width">
				<mat-label>Description</mat-label>
				<input type="text" matInput formControlName="description">
			</mat-form-field>
			<div class="margin-top-1">
				<button mat-raised-button color="primary" class="full-width" [disabled]="addCategoryForm.invalid || addCategoryFormBusy">
					<span *ngIf="!addCategoryFormBusy">Save</span>
					<mat-spinner diameter="20" *ngIf="addCategoryFormBusy"></mat-spinner>
				</button>
			</div>
		</form>
	</div>
</mat-card>
