<div class="page-header">
	<h1>Customer Details</h1>
	<button mat-raised-button color="accent" routerLink="/app/customers">
		<mat-icon>arrow_back</mat-icon>
		Back to Customers
	</button>
</div>

<mat-card class="margin-top-3 customer-details">
	<table>
		<tr>
			<th>Customer ID</th>
			<td>123456</td>
		</tr>
		<tr>
			<th>First Name</th>
			<td>John</td>
		</tr>
		<tr>
			<th>Last Name</th>
			<td>Doe</td>
		</tr>
		<tr>
			<th>City, Province</th>
			<td>Johannesburg, GP</td>
		</tr>
		<tr>
			<th>Email</th>
			<td>johndoe@gmail.com</td>
		</tr>
		<tr>
			<th>Phone</th>
			<td>033 237 1320</td>
		</tr>
		<tr>
			<th>Join Date</th>
			<td>12 May 2021 05:05 pm</td>
		</tr>
		<tr>
			<th>Registered User</th>
			<td>NO</td>
		</tr>
		<tr>
			<th>Status</th>
			<td>Active</td>
		</tr>
	</table>
</mat-card>
