<div class="page-header">
	<h1>Customer Details</h1>
	<button mat-raised-button color="accent" routerLink="/app/customers">
		<mat-icon>arrow_back</mat-icon>
		Back to Customers
	</button>
</div>

<mat-card class="margin-top-3 customer-details">
	<table>
		<tr>
			<th>First Name</th>
			<td>{{customer?.firstname}}</td>
		</tr>
		<tr>
			<th>Last Name</th>
			<td>{{customer?.lastname}}</td>
		</tr>
		<tr>
			<th>Email</th>
			<td>{{customer?.email}}</td>
		</tr>
		<tr>
			<th>Total Spending</th>
			<td>{{customer?.total_spend}}</td>
		</tr>
		<tr>
			<th>Join Date</th>
			<td>{{customer?.joindate | date:'medium'}}</td>
		</tr>
		<tr>
			<th>Registered User</th>
			<td>{{customer?.is_registered ? "YES" : "NO"}}</td>
		</tr>
		<tr>
			<th>Status</th>
			<td>{{customer?.status == 1 ? "ACTIVE" : "INACTIVE"}}</td>
		</tr>
	</table>
	<div class="margin-top-2 align-center">
		<button mat-raised-button color="primary" style="margin-right: 2em">EDIT CUSTOMER DETAILS</button>
		<button mat-raised-button color="warn">DELETE CUSTOMER</button>
	</div>
</mat-card>
