<div class="page-header">
	<h1>Add Delivery Category</h1>
	<button mat-raised-button color="warn" routerLink="/app/shipping-costs">
		<mat-icon>close</mat-icon>
		Cancel
	</button>
</div>

<mat-card class="margin-top-3">
	<div class="add-form">
		<mat-form-field appearance="outline" class="full-width">
			<mat-label>Category name</mat-label>
			<input type="text" matInput>
		</mat-form-field>
		<mat-form-field appearance="outline" class="full-width">
			<mat-label>Description</mat-label>
			<input type="text" matInput>
		</mat-form-field>
		<mat-form-field appearance="outline" class="full-width">
			<mat-label>Conditions</mat-label>
			<input type="text" matInput>
		</mat-form-field>
		<mat-form-field appearance="outline" class="full-width">
			<mat-label>Cost</mat-label>
			<input type="text" matInput>
		</mat-form-field>
		<div class="margin-top-1">
			<button mat-raised-button color="primary" class="full-width">
				Save
			</button>
		</div>
	</div>
</mat-card>
