/* You can add global styles to this file, and also import other style files */

@import "theme";

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.full-width {
	width: 100%;
}

* {
	box-sizing: border-box;
}

a, a[routerLink] {
	text-decoration: none;
	color: $primary;
}

.clickable {
	cursor: pointer;
}

.flex-fill {
	flex: 1 1 auto;
}


//Layouts

.flex {
	display: flex;

	&.space-between {
		justify-content: space-between;
	}

	&.items-center {
		align-items: center;
	}
}


//Alignments

.align-left {
	text-align: left;
}

.align-right {
	text-align: right;
}

.align-center {
	text-align: center;
}


//Margins

.margin-top-half {
	margin-top: 0.5em;
}

.margin-top-1 {
	margin-top: 1em;
}

.margin-top-1-half {
	margin-top: 1.5em;
}

.margin-top-2 {
	margin-top: 2em;
}

.margin-top-3 {
	margin-top: 3em;
}

.margin-top-4 {
	margin-top: 4em;
}


//Components

.page-header {
	display: flex;
	justify-content: space-between;
	align-items: center;

	button {
		text-transform: uppercase;
	}
}

.text-primary {
	color: $primary;
}

.text-warn {
	color: $warn;
}

button {
	mat-spinner {
		margin: .6em auto;
	}
}

.loader {
	margin: auto;
}

// Dialogs

.error-message {
	color: #e79c9c !important;
}

.success-message {
	color: #86c988 !important;
}

//Indicators

.indicator {
	padding: .1em 1em;
	color: #fff;
	border-radius: 20px;

	&.green {
		background: green;
	}
	&.red {
		background: red;
	}
	&.yellow {
		background: #efd14b;
		color: #000;
	}
}


//Helpers

.strike {
	text-decoration: line-through;
}


.coming-soon {
	min-height: 50vh;
	display: flex;
	justify-content: center;
	align-items: center;
}
